@font-face {
  font-family: "Source Sans 3";
  font-weight: 300;
  font-display: swap;
  src: url("../../assets/fonts/SourceSans3-Light.woff2") format("woff2")
      url("../../assets/fonts/SourceSans3-Light.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/SourceSans3-Regular.woff2") format("woff2")
      url("../../assets/fonts/SourceSans3-Regular.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 500;
  font-display: swap;
  src: url("../../assets/fonts/SourceSans3-Medium.woff2") format("woff2")
      url("../../assets/fonts/SourceSans3-Medium.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 600;
  font-display: swap;
  src: url("../../assets/fonts/SourceSans3-SemiBold.woff2") format("woff2")
    url("../../assets/fonts/SourceSans3-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/SourceSans3-Bold.woff2") format("woff2")
      url("../../assets/fonts/SourceSans3-Bold.woff") format("woff");
}
