@use "../abstracts/" as *;

body {
  background-color: $body-background-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  font-synthesis: none;
  line-height: $body-line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
h3 {
  line-height: 1.3;
}

h1 {
  background: -webkit-linear-gradient(45deg, #683fea, #a47cf3 90%);
  background-clip: text;
  font-size: $font-size-800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  line-height: 1.7;
}

.github-logo {
  max-height: 1.65em;
  max-width: 1.65em;
}
