$-clr-white: hsl(0 0% 100%);
$-clr-gray-100: hsl(0 0% 95%);
$-clr-gray-200: hsl(0, 0%, 82%);
$-clr-gray-300: hsl(0 0% 70%);
$-clr-gray-400: hsl(0 0% 60%);
$-clr-gray-500: hsl(0 0% 50%);
$-clr-gray-600: hsl(0 0% 40%);
$-clr-gray-700: hsl(0 0% 30%);
$-clr-gray-800: hsl(0 0% 17.5%);
$-clr-gray-900: hsl(0 0% 7.5%);
$-clr-black: hsl(0 0% 0%);

$-clr-digital-blue: hsl(210, 100%, 40%);