.button {
  cursor: pointer;
  border: none;
  line-height: 1;

  &--primary {
    background-color: #20b2aa;
    color: #ffffff;
  }

  &--secondary {
    border: 1px solid #20b2aa;
    color: #20b2aa;
  }

  &--tertiary {
    color: #20b2aa;
    text-decoration: underline;
  }
}
