@use '../abstracts/' as *;

.button {
  cursor: pointer;
  border: $button-border;
  border-radius: $button-border-radius;
  font-size: $button-font-size;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  transition: 275ms ease;
  padding: $button-padding;

  &:active {
    transform: scale(0.98);
  }
}
