@use "../abstracts/" as *;

.button {
  cursor: pointer;
  border: $button-border;
  border-radius: $button-border-radius;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  padding: $button-padding;

  &:active {
    transform: scale(0.98);
  }

  &[data-type="animated"] {
    background: #383838;
    border-radius: $border-radius-round;
    color: #cccccc;
    padding-block: 1em;

    .sparkle {
      fill: #cccccc;
      transition: all 800ms ease;
    }

    &:hover {
      background: linear-gradient(0deg, #a47cf3, #683fea);
      box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
        inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2),
        0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #9917ff;
      transform: translateY(-2px);
      color: #ffffff;

      .sparkle {
        fill: #ffffff;
        transform: scale(1.2);
      }
    }
  }
}
