@use "../abstracts/" as *;

.grid {
  display: grid;
  gap: var(--grid-gap, $grid-gap);
  // grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));

  &[data-gap="narrow"] {
    gap: $grid-gap-narrow;
  }
}
